<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% block heading %}
        <h1> інтернет-магазин медової продукції </h1>
    {% endblock heading %}

    {% block content %}
    {% endblock content %}

   {% block final%}
    <hr>
    <p>
        <h4>наші контактні данні: mail, facebook...</h4>
    </p>
    <hr>
    {% endblock final %}
</body>
    <p style="color: #666666; background-color: #ef4444; padding: 20px;">
</html>