<h2>{{ description.info }}</h2>

<p class="price">ціна:{{ description.price }}грн</p>
<form action='{% url "cart:cart_add" description.id %}' method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>

<p>
    <a href="/shop/{{ names.id }}">Back to shop</a>
</p>