{% extends "shop/base.html" %}

<style>
    html, body{
        height: 100%;
        max-height: 100%;
    }
</style>

{% block content%}

Hello, {{ user.username|default:'Guest'}}!

<div>
    {% if user.is_authenticated%}
        <p><a href="{% url 'logout' %}">Вход</a></p>
        <p><a href="{% url 'password_change' %}">Сменить пароль</a></p>
    {% else %}
        <a href="{% url 'login' %}">Логин</a>
    {% endif %}
</div>

{% if products_list %}
    <ul>
        Список товарів:
        {% for names in products_list %}
        <h3><li><a href="/shop/{{ names.id }}">{{names.name}}</a></li></h3>
        {% endfor %}
    </ul>
{% else %}
    <p>NO</p>
{% endif %}


{% endblock content %}
