{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest'}}!

<div>
    {% if user.is_authenticated%}
        <p><a href="{% url 'logout' %}"> Logout</a></p>
        <p><a href="{% url 'password_change' %}">Change password</a></p>
        <a href="/shop/{{ names.id }}">Back to shop</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}
