shop/product/detail

<!--<p class="price">${{ product.price }}</p>-->
<!--<form action='{% url "cart:cart_add" product.id %}' method="post">-->
<!--    {{ cart_product_form }}-->
<!--    {% csrf_token %}-->
<!--    <input type="submit" value="Add to cart">-->
<!--</form>-->