{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h2>Твои покупки:</h2>
    <table class="cart">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with products=item.products %}
                <tr>
                    <td>
                        <a href="{{ products.get_absolute_url }}">
                        </a>
                    </td>
                    <td>{{ products.name }}</td>
                    <td>{{ item.quantity }}</td>




                    <td><<a href="/shop/{{ names.id }}">Back to shop</a></td>

                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="Total">
            <td>Общая сумма:</td>
            <td colspan=""></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <td><<a href="/shop/{{ names.id }}">Back to shop</a></td>
    </p>
{% endblock %}
