{% extends "base.html" %}

{% block content %}
<h4>Login:</h4>

<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Login">
</form>
<a href="{% url 'dashboard' %}">Back to dashboard</a>

{% endblock %}